<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue testi</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id = "app">
    <input type ="text"  placeholder="Kirjoita jotain" v-on:keyup="Vaihda">
    <span>{{teksti}}</span>

</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            teksti: ''
        },
        methods: {
            Vaihda: function (event) {
                this.teksti = event.target.value;
            }
        }
    })
</script>
</body>
</html>