<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue testi</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app-3">
    <span v-if="seen">Now you see me</span>
    <button v-on:click="Vaihda">Näytä/Piilota</button>
</div>
<script>
    let app3 = new Vue({
        el:'#app-3',
        data: {
            seen: true
        },
        methods: {
            Vaihda: function () {
                if(this.seen){
                    this.seen = false;
                }
                else{
                    this.seen = true;
                }
            }
        }
    })
</script>
</body>
</html>