<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue testi</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id = "app-1">
    <button v-on:click="minus">-</button>
    <button v-on:click="zero">0</button>
    <button v-on:click="plus">+</button>
    <div id="message"><p>{{text}}</p></div>
</div>
<script>
    let app1 = new Vue({
        el: '#app-1',
        data: {
            number: 0,
            text: '0'
        },
        methods: {
            minus: function () {
                this.number--;
                this.text = this.number;
            },
            zero: function () {
                this.number = 0;
                this.text = this.number;
            },
            plus: function () {
                this.number++;
                this.text = this.number;
            }
        }

    })
</script>
</body>
</html>