<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue testi</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id = "app-1">
    <input v-model="lisays">
    <button v-on:click="lisaa">lisää</button>
    <h2>To-Do</h2>
    <li v-for="n in listaus">{{n}}</li>
</div>
<script>
    let app1 = new Vue({
        el: '#app-1',
        data: {
            lista: '',
            lisays: '',
            taulu: []
        },
        methods: {
            lisaa: function (){
                this.taulu.push(this.lisays);
                this.lisays ='';
            }
        },
        computed: {
            listaus : function (){
                return this.taulu
            }
        }

    })
</script>
</body>
</html>