p{
    font-size: large;
}

table{
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-top: none;

}

caption{
    font-weight: bold;
    font-size: larger;
    border-style: solid;
    border-width: thin;
    border-color: black;
    text-transform: uppercase;
}

th{
    color: white;
    background: red;
    font-size: larger;
    padding: 0;
    margin: 0;

}

.a{
    border-right: solid;
    border-width: thin;
    border-color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: 0;

}


