div{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%


}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-bottom: 20px;

}
figcaption{
    font-weight: bold;
    display: block;
    text-align: center;
    padding-bottom: 50px;
}

h1{
    font-size: 10em;
    text-align: center;
}

#blue{
    background-color: lightblue;

}

#cloud{
    background-color: lightgoldenrodyellow;

}

#lingon{
    background-color: lightpink;
    border-bottom: solid;
    border-width: thin;
}

.head{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}

.text{
    font-style: italic;
    text-align: center;
    margin-top: 2px;

}
